#header-top * {
  text-align: center;
}

#header-top #disclaimer {
  padding-top: 3px;
  font-size: 0.75em;
}

#header-top .logo {
  display: inline-block;
  max-height: 50px;
  max-width: 225px;
  padding: 8px 4px 8px 12px;
  vertical-align: middle;
  float: left;
}

#header-top .title {
  font-size: 2.0em;
  font-weight: bold;
}

#header-top .header-content {
  display: inline-block;
  padding: 8px;
}