default: &default
  adapter: mysql2
  encoding: utf8
  pool: 5
  username: root
  password: password
  host: 127.0.0.1

development:
  <<: *default
  database: srdr
  variables:
    sql_mode: TRADITIONAL
